/Game/nbproject/private/
/Game2/nbproject/private/
/Game2/build/
/JavaProject25/nbproject/private/
/ArraysPro/nbproject/private/
/ArraysPro/build/
/JKTV20Task4AnastasiiaRoshchina/nbproject/private/
/JKTV20Task4AnastasiiaRoshchina/build/
/JavaApplication13/nbproject/private/
/JavaApplication13/build/